@import '~antd/dist/antd.css';

.main-layout {
  min-height: 100vh;
}

.content-layout {
  padding: 40px 0 0;
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.ant-layout-header {
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
}

.search-bar {
  padding-top: 3% !important;
}

.file-list:hover {
  cursor: pointer;
}
